<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405193748477-u3jvfrk5d4eh6l09ma81saompimt4gqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405193748477-u3jvfrk5d4eh6l09ma81saompimt4gqq</string>
	<key>API_KEY</key>
	<string>AIzaSyCUurTjZt4Vgb3AbhL6UgYQqmd-OHTf3QM</string>
	<key>GCM_SENDER_ID</key>
	<string>405193748477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.akademiKariyer</string>
	<key>PROJECT_ID</key>
	<string>akademikariyer-89f93</string>
	<key>STORAGE_BUCKET</key>
	<string>akademikariyer-89f93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405193748477:ios:4c7d8d06532f1734b5b394</string>
</dict>
</plist>